<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

<Appenders>

<Console name="Console">

<PatternLayout
pattern=
"%d %p %c - %m%n"/>

</Console>

<File
name="File"

fileName=
"target/logs.txt">

<PatternLayout
pattern=
"%d %p %c - %m%n"/>

</File>

</Appenders>

<Loggers>

<Root level="info">

<AppenderRef ref="Console"/>

<AppenderRef ref="File"/>

</Root>

</Loggers>

</Configuration>